:root {
    --header-background-color: white;
    --footer-background-color: white;
    --border-box-color: #A8A8A8;
    --website-title-color: #a67c00;
    --website-border-color: black;
    --button-background-color: #3e4b37;
    --button-hover-color: #dcdcdc;
}